
*.pyc
.DS_Store
*.pyc
.vscode/settings.json
*.pyc

**/__pycache__/**/*
.vscode/settings.json

Tron/Backend/Core/__pycache__/
Tron/Backend/Core/test_coolapse.py
Examples/matrix.py
Examples/matrixindizes.py
Tron/Backend/Classes/dummy.py
Tron/Backend/Core/matrix.py
Tron/Backend/Core/test_coolapse.py
Examples/matrix.py
Examples/matrixindizes.py
Tron/Backend/Classes/dummy.py
Tron/Backend/Core/matrix.py
Tron/Backend/Core/test_coolapse.py
Examples/matrix.py
Examples/matrixindizes.py
